XMPP_SERVER=
XMPP_CLIENT_DEFAULT_PASSWORD=
TWEETS_ROOM_NAME=
TWEETS_COMMUNICATION_ROOM_NAME=
TWEET_AGENT=
SERVER_URL=
TWEET_POST_SUCCESSFUL=TWEET_POST_SUCCESSFUL
TWEET_SERVER_URL=
QUESTIONS_ROOM_NAME=
QUESTION_POST_SUCCESSFUL=QUESTION_POST_SUCCESSFUL